.hot-community {
  background-color: #ffffff;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.hot-community .post-instance {
  left: 0 !important;
  top: 93px !important;
}

.hot-community .page-header-instance {
  left: 0 !important;
  position: absolute !important;
  top: 1px !important;
}

.hot-community .footer-instance {
  background-color: transparent !important;
  left: 0 !important;
  position: absolute !important;
  top: 728px !important;
}

.hot-community .design-component-instance-node {
  width: 376px !important;
}

.hot-community .post-scrap {
  display: none;
}

.hot-community .text-wrapper {
  position: relative;
  left: 84px; /* 원하는 만큼 왼쪽으로 이동 */
  top: 37px; /* 원하는 만큼 아래로 이동 */
}
