.travelmakecallender {
  background-color: #ffffff;
  height: 812px;
  position: relative;
  width: 375px;
}

.travelmakecallender .text-wrapper-cal1 {
  color: var(--light-primary);
  font-family: "Gmarket Sans TTF-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 28px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 106px;
  width: 262px;
}

.travelmakecallender .month-selector {
  height: 28px;
  left: 19px;
  position: absolute;
  top: 189px;
  width: 193px;
}

.travelmakecallender .div {
  color: #252525b2;
  font-family: "Gmarket Sans TTF-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 191px;
}

.travelmakecallender .arrows {
  height: 13px;
  left: 312px;
  position: absolute;
  top: 196px;
  width: 41px;
}

.travelmakecallender .overlap-group {
  height: 302px;
  left: 15px;
  position: absolute;
  top: 240px;
  width: 346px;
}

.travelmakecallender .callender {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 302px;
  left: 0;
  position: absolute;
  top: 0;
  width: 346px;
}

.travelmakecallender .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.travelmakecallender .div-wrapper {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 50px;
}

.travelmakecallender .text-wrapper-2 {
  color: #a1a1a1;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.travelmakecallender .frame-3 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50px;
  justify-content: center;
  margin-right: -4px;
  padding: 10px;
  position: relative;
  width: 50px;
}

.travelmakecallender .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  margin-right: -4px;
  position: relative;
}

.travelmakecallender .frame-119 {
  flex: 0 0 auto !important;
}

.travelmakecallender .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.travelmakecallender .SU-2 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.travelmakecallender .frame-5 {
  align-items: flex-start;
  display: flex;
  height: 42px;
  position: relative;
  width: 346px;
}

.travelmakecallender .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -8px;
  position: relative;
}

.travelmakecallender .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -8px;
  margin-right: -4px;
  position: relative;
}

.travelmakecallender .select-button {
  height: 40px;
  left: 305px;
  position: absolute;
  top: 161px;
  width: 40px;
}

.travelmakecallender .img {
  height: 40px;
  left: 255px;
  position: absolute;
  top: 161px;
  width: 40px;
}

.travelmakecallender .select-button-2 {
  height: 40px;
  left: 205px;
  position: absolute;
  top: 161px;
  width: 40px;
}

.travelmakecallender .dot {
  height: 8px;
  left: 162px;
  position: absolute;
  top: 645px;
  width: 50px;
}

.travelmakecallender .pagination-active {
  background-color: #0002ff;
  border-radius: 4.21px;
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

.travelmakecallender .pagination-deactive {
  background-color: #1e1e1e;
  border-radius: 4.21px;
  height: 8px;
  left: 42px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 8px;
}

.travelmakecallender .pagination-deactive-2 {
  background-color: #1e1e1e;
  border-radius: 4.21px;
  height: 8px;
  left: 21px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 8px;
}

.travelmakecallender .next-button-instance {
  left: 29px !important;
  position: absolute !important;
  top: 701px !important;
}