.community {
  background-color: #ffffff;
  height: 812px;
  position: relative;
  width: 375px;
}

.community .free-community-button {
  height: 92px;
  left: 28px;
  position: absolute;
  top: 481px;
  width: 319px;
}

.community .card {
  align-items: center;
  background-color: var(--whitewhite);
  border: 1px solid;
  border-color: var(--grey-grey-94);
  border-radius: 10px;
  display: flex;
  gap: 16px;
  overflow: hidden;
  padding: 16px 20px 16px 16px;
  position: relative;
  width: 319px;
  color: #E5F0FA;
}

.community .button {
  height: 60px;
  position: relative;
  width: 60px;
}

.community .menu {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.community .text-wrapper {
  align-self: stretch;
  color: #000000; /* 검정색 텍스트 */
  font-family: 'Roboto', sans-serif; /* 폰트 패밀리 설정 */
  font-size: 16px; /* 폰트 크기 */
  font-style: normal; /* 폰트 스타일 (이탤릭체가 아닌 일반체) */
  font-weight: 700; /* 폰트 두께 (bold) */
  letter-spacing: 0.5px; /* 자간 (글자 사이 간격) */
  line-height: 1.5; /* 줄 간격 */
  margin-top: 10px;
  margin-bottom: -2px;
  position: relative;
}

.community .description {
  align-self: stretch;
  color: var(--greygrey);
  font-family: "Manrope", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: -5px; /* 요소를 5px 위로 이동 */
}

.community .icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.community .travel-community-button {
  height: 92px;
  left: 28px;
  position: absolute;
  top: 360px;
  width: 319px;
}

.community .hot-community-button {
  height: 92px;
  left: 28px;
  position: absolute;
  top: 239px;
  width: 319px;
}

.community .page-header-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.community .footer-instance {
  background-color: transparent !important;
  left: 0 !important;
  position: absolute !important;
  top: 727px !important;
}

.community .design-component-instance-node {
  width: 0px !important;
}