.frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.frame .SU-wrapper {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 50px;
}

.frame .SU {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
