.travel-detail {
  background-color: #ffffff;
  height: 812px;
  position: relative;
  width: 375px;
}

.travel-detail .overlap {
  background-color: #ffffff;
  height: 500px;
  left: 0;
  position: absolute;
  top: 312px;
  width: 375px;
  overflow-y: auto;
}

.travel-detail .text-wrapper-5 {
  color: #000000;
  font-family: "Gmarket Sans TTF-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 22px;
  left: 29px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 274px;
  white-space: nowrap;
  width: 30px;
}

.travel-detail .text-wrapper-6 {
  color: #000000;
  font-family: "Gmarket Sans TTF-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 22px;
  left: 98px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 274px;
  white-space: nowrap;
  width: 30px;
}

.travel-detail .overlap-2 {
  height: 467px;
  left: 26px;
  position: absolute;
  top: -5px;
  width: 322px;
}

.travel-detail .record-detail-instance {
  left: 0 !important;
  top: 0 !important;
  margin-top: 10px;
}

.travel-detail .line-divide-time-and {
  background-color: #bebebe;
  height: 535px;
  left: 79px;
  position: absolute;
  top: 280px;
  width: 2px;
  z-index: 10;
}

.travel-detail .date {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 190px;
  position: absolute;
  top: 258px;
}

.travel-detail .calendar-icons {
  height: 14.33px;
  position: relative;
  width: 13px;
}

.travel-detail .text-wrapper-7 {
  color: #252525b2;
  font-family: "Gmarket Sans TTF-Medium", Helvetica;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.travel-detail .line {
  height: 1px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 246px;
  width: 333px;
}

.travel-detail .day {
  height: 57px;
  left: 24px;
  position: absolute;
  top: 112px;
  width: 41px;
}

.travel-detail .text-wrapper-8 {
  color: #6c6e75;
  font-family: "Gmarket Sans TTF-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
  width: 35px;
}

.travel-detail .text-wrapper-9 {
  color: #202525;
  font-family: "Gmarket Sans TTF-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
  width: 23px;
}

.travel-detail .text-wrapper-10 {
  color: #515979;
  font-family: "Gmarket Sans TTF-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 12px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 35px;
}

.travel-detail .day-2 {
  height: 58px;
  left: 72px;
  position: absolute;
  top: 112px;
  width: 41px;
}

.travel-detail .text-wrapper-11 {
  color: #202525;
  font-family: "Gmarket Sans TTF-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: 23px;
}

.travel-detail .day-3 {
  height: 58px;
  left: 121px;
  position: absolute;
  top: 112px;
  width: 41px;
}

.travel-detail .day-4 {
  height: 60px;
  left: 167px;
  position: absolute;
  top: 112px;
  width: 48px;
}

.travel-detail .overlap-3 {
  background-color: #bfebff;
  border-radius: 10px;
  height: 42px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 42px;
}

.travel-detail .text-wrapper-12 {
  color: #212525;
  font-family: "Gmarket Sans TTF-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 23px;
}

.travel-detail .text-wrapper-13 {
  color: #6c6e75;
  font-family: "Gmarket Sans TTF-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 35px;
}

.travel-detail .text-wrapper-14 {
  color: #515979;
  font-family: "Gmarket Sans TTF-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 12px;
  left: 3px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 35px;
}

.travel-detail .day-rectangle {
  background-color: #797979;
  height: 2px;
  left: 5px;
  position: absolute;
  top: 13px;
  width: 31px;
}

.travel-detail .day-5 {
  height: 58px;
  left: 219px;
  position: absolute;
  top: 112px;
  width: 41px;
}

.travel-detail .day-6 {
  height: 58px;
  left: 268px;
  position: absolute;
  top: 112px;
  width: 41px;
}

.travel-detail .day-7 {
  height: 58px;
  left: 317px;
  position: absolute;
  top: 112px;
  width: 41px;
}

.travel-detail .text-wrapper-15 {
  color: #6b6e75;
  font-family: "Gmarket Sans TTF-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
  width: 35px;
}

.travel-detail .travel-write-bar {
  height: 46px;
  left: 14px;
  position: absolute;
  top: 185px;
  width: 350px;
}

.travel-detail .div-wrapper {
  border: 1px solid;
  border-color: #c4c4c4;
  border-radius: 50px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 302px;
}

.travel-detail .text-wrapper-16 {
  color: #000000;
  font-family: "Gmarket Sans TTF-Light", Helvetica;
  font-size: 15px;
  font-weight: 300;
  height: 40px;
  left: 17px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 10x;
  width: 265px;
  border: none;
  outline: none;
}

.travel-detail .title-write-icons {
  background-color: var(--lightgray-2);
  border: 5px solid;
  border-color: var(--lightgray-0);
  border-radius: 23px;
  height: 46px;
  left: 302px;
  position: absolute;
  top: 0;
  width: 46px;
}

.travel-detail .group-write {
  height: 20px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 20px;
}
