.my-page-edit {
    background-color: #ffffff;
    height: 812px;
    position: relative;
    width: 375px;
  }
  
  .my-page-edit .next-button-instance {
    left: 29px !important;
    position: absolute !important;
    top: 701px !important;
  }
  
  .my-page-edit .big-outline-instance-name {
    left: 16px !important;
    position: absolute !important;
    top: 317px !important;
  }
  
  .my-page-edit .big-outline-instance-nickname {
    left: 16px !important;
    position: absolute !important;
    top: 387px !important;
  }
  
  .my-page-edit .big-outline-instance-address {
    left: 16px !important;
    position: absolute !important;
    top: 457px !important;
  }
  
  .my-page-edit .big-outline-select-instance-age {
    left: 16px !important;
    position: absolute !important;
    top: 527px !important;
  }
  
  .my-page-edit .big-outline-select-instance-gender {
    left: 16px !important;
    position: absolute !important;
    top: 597px !important;
  }
  
  .my-page-edit .big-outline-select-instance-mbti {
    left: 196px !important;
    position: absolute !important;
    top: 527px !important;
  }
  
  .my-page-edit .profile-select {
    height: 143px;
    left: 7px;
    overflow-x: scroll;
    position: absolute;
    top: 141px;
    width: 368px;
  }
  
  .my-page-edit .profile-select-frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
    width: 967px;
  }
  
  .my-page-edit .div {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 14px;
    overflow-x: scroll;
    position: relative;
    width: 100%;
  }
  
  .my-page-edit .img-select {
    height: 123px;
    object-fit: cover;
    position: relative;
    width: 123px;
    border: 4px solid skyblue; /* 테두리 추가 */
    border-radius: 22px; /* 테두리의 모서리를 둥글게 */
  }
  
  .my-page-edit .img {
    height: 123px;
    object-fit: cover;
    position: relative;
    width: 123px;
  }
  
  .my-page-edit .label-3 {
    color: var(--lightgray-7);
    font-family: "Gmarket Sans TTF-Light", Helvetica;
    font-size: 10px;
    font-weight: 400;
    height: 16px;
    left: 17px;
    letter-spacing: 0.25px;
    line-height: 16px;
    position: absolute;
    top: 121px;
    white-space: nowrap;
  }
  