.travel-record {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 185px;
  overflow: hidden;
  padding: 0px 0px 11px;
  position: relative;
  width: 336px;
}

.travel-record .travel-image {
  align-self: stretch;
  background-image: url(https://c.animaapp.com/x2g7jTEH/img/image-80-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 114px;
  position: relative;
  width: 100%;
  margin-bottom: 3px;
}

.travel-record .div {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 71px;
  margin-bottom: -11px;
  padding: 0px 17px;
  position: relative;
  width: 100%;
}

.travel-record .travel-title {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.travel-record .p {
  color: #252525;
  flex: 1;
  font-family: "Gmarket Sans TTF-Bold", Helvetica;
  font-size: 2px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.travel-record .text-wrapper {
  color: #252525;
  font-family: "Gmarket Sans TTF-Bold", Helvetica;
  font-size: 2px;
  font-weight: 700;
  letter-spacing: 0;
}

.travel-record .span {
  margin-top: 10px;
  font-size: 14px;
}

.travel-record .travel-content {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.travel-record .wrap {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 211px;
}

.travel-record .location {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.travel-record .img {
  height: 14.33px;
  position: relative;
  width: 12.5px;
}

.travel-record .text-wrapper-2 {
  color: #252525b2;
  font-family: "Gmarket Sans TTF-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 0px;
  position: relative;
  width: 100px;
}

.travel-record .date {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.travel-record .calendar {
  height: 14.33px;
  position: relative;
  width: 13px;
}

.travel-record .element {
  color: #252525b2;
  font-family: "Gmarket Sans TTF-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.travel-record .status {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 4px 0px;
  position: relative;
}

.travel-record .text-wrapper-3 {
  color: #0066fffc;
  font-family: "Gmarket Sans TTF-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -15px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.travel-record-instance {
  margin-bottom: 20px; /* 아래쪽에 20px 간격 추가 */
}